:root {
    --white-color: #fff;
    --main-color: #D1884F;
    --secondary-color: #008AAA;
    --tertiary-color: #3BBADB;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    /* Aligns the navigation to the right */
    display: flex;
    justify-content: right;
    padding: 3%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 30px; /* Adjust the left margin to space out the nav items */
}

nav ul li a {
    text-decoration: none;
    color: black; /* Default text color */
    display: flex;
    align-items: center; /* Aligns the icon and text vertically */
}

nav ul li a .fas {
    margin-right: 10px; /* Spacing between icon and text */
}

nav ul li a.active {
    color: var(--main-color); /* Icon color for the active page */
}

#info {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 20px; 
    background-color: var(--white-color);
}

#info h2 {
    color: var(--tertiary-color); 
    font-size: 1.5rem;
    margin-bottom: 0.5rem; 
}

.highlight-dev {
    color: var(--main-color); 
}


#info h1 {
    color: var(--secondary-color); 
    font-size: 3rem; 
    margin-bottom: 1rem; /* Space between the title and the paragraph */
}

#info p {
    color: #333; 
    font-size: 1.2rem; 
}

#info p a {
    text-decoration: none; 
    color: var(--tertiary-color); 
}

#info .button-container {
    margin-top: 2rem; /* Space between the paragraph and buttons */
    width: 100%;
}

#info .button {
    background-color: var(--white-color);; 
    color: var(--secondary-color); 
    border: 2px solid var(--secondary-color); 
    font-size: 1rem; 
    padding: 5px 30px; 
    text-decoration: none; 
    display: inline-block;
    border-radius: 5px;
}

#info .button:first-of-type {
    background-color: var(--secondary-color); 
    color: var(--white-color);; 
    box-shadow: 0px 4px 8px rgba(76, 146, 173, 0.8); 
}

.content {
    flex: 1; 
    padding-left: 50px;
}

.profile-container {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    max-width: 100%; 
    height: auto;
}

/* Medium screens (tablets, small laptops) */
@media (max-width: 1024px) {
    .content, .profile-container {
        padding-right: 30px; 
    }
    
    #info h1 {
        font-size: 2.5rem; 
    }

    #info p {
        font-size: 1rem; 
    }

    .profile-pic {
        width: 50%; 
    }
}

/* Small screens (phones in portrait) */
@media (max-width: 768px) {

    nav ul li a {
        font-size: 0.7rem; 
    }

    #info {
        flex-direction: column;
        padding: 20px;
        align-items: center; 
    }

    .profile-container {
        order: -1; 
        width: 100%; 
        justify-content: center; 
        margin-bottom: 20px; 
    }

    .profile-image {
        width: 50%; 
        margin-bottom: 20px; 
    }

    .content {
        width: 100%; 
    }
}


